<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Skeleton 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130902

-->
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href="{% static "orders/default.css" %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static "orders/fonts.css" %}" rel="stylesheet" type="text/css" media="all" />

	<!-- JQUERY -->
    <!--script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script-->

    <!-- BOOTSTRAP -->
	<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script-->


    <!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

	<!-- ANGULAR -->
    <!--script type="text/javascript" src="{% static "orders/angular.min.js" %}"></script-->
	<!--script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script-->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>

    <!-- JAVASCRIPT -->
	<script type="text/javascript" src="{% static 'orders/app.js' %}"></script>


</head>
<body ng-app="orders">
<div id="page" class="container" ng-controller="TabsController as tabs">

	<div id="header">
		<div id="logo">
			<img src="{% static "orders/images/user.png" %}" alt="" />
{% verbatim %}
			<h1><a href="#">Privy</a></h1>
			<span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a></span>
		</div>
		<div id="menu">
			<ul>
                <li ng-repeat="tabber in tabs.tabObjects" ng-class="{current_page_item: tabs.tab === ($index)}"
                        ng-click="tabs.setTab($index)" ng-bind-html="tabber.page | trustAsHtml"></li>
                <li><a href="logout">Logout</a></li>
			</ul>
		</div>
	</div>
	
	
	<div id="main">
		<div id="banner">
			<!-- img src="{% static "orders/images/pic01.jpg" %}" alt="" class="image-full" /-->
			<h1>banner</h1>


		</div>
        <div ng-repeat="tabber in tabs.tabObjects" ng-if="tabs.tab === ($index)" ng-include="tabber.link"></div>

{% endverbatim %}

		<div id="copyright">
			<span>&copy; Orders_Track. All rights reserved. | Sandi Šemrov</span>
			<!--span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</span-->
		</div>
	</div>
</div>
</body>
</html>
